<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragment/common::head(Publish)}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>


    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">-->


</head>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/a11y-dark.min.css" />    <!-- Custom styles for this template-->

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{admin/fragment/common::sidebar(publish,publish)}"
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="admin/fragment/common::topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Publish</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">标题</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">描述</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">分类</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">封面</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                    </div>
                </div>





                <link rel="stylesheet" th:href="@{../css/editormd.css}" />
                <div id="test-editor">
    <textarea style="display:none;"></textarea>
                </div>
                <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
                <script th:src="@{../js/editormd.js}"></script>
                <script type="text/javascript">
                    $(function() {
                        // let editor = editormd("test-editor", {
                        //     // width  : "100%",
                        //     // height : "100%",
                        //     path   : "../lib/"
                        // });
                        let editor = editormd("test-editor", { //注意1：这里的就是上面的DIV的id属性值
                            placeholder : '欢迎使用博客',
                            // width : "90%",
                            height : 400,
                            syncScrolling : "single",
                            emoji : true,
                            path : "../lib/", //注意2：你的路径
                            saveHTMLToTextarea : true,
                            tocm : true, // Using [TOCM]
                            tex : true, // 开启科学公式TeX语言支持，默认关闭
                            flowChart : true, // 开启流程图支持，默认关闭
                            pluginPath:'../plugin/',
                            /* 上传图片配置 */
                            imageUpload : true,
                            imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp","jpeg" ],
                            imageUploadURL : "/admin/image", //注意你后端的上传图片服务地址
                        })

                    });

                    // editor.startOnLoad
                </script>



                <!-- -设置展示的div添加id -->
                <div id="result"></div>
<!--                <div class="mermaid">-->
<!--                    graph LR-->
<!--                    A -&#45;&#45; B-->
<!--                    B&ndash;&gt;C[fa:fa-ban forbidden]-->
<!--                    B&ndash;&gt;D(fa:fa-spinner);-->
<!--                </div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{admin/fragment/common::logout}" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{../vendors/jquery/jquery.min.js}"></script>
<script th:src="@{../vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../vendors/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../js/sb-admin-2.min.js}"></script>


<!--    Markdown-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.2.0/markdown-it.min.js"
        integrity="sha512-cTQeM/op796Fp1ZUxfech8gSMLT/HvrXMkRGdGZGQnbwuq/obG0UtcL04eByVa99qJik7WlnlQOr5/Fw5B36aw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mermaid/8.11.2/mermaid.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<script type="text/javascript">
    mermaid.initialize({startOnLoad:true});
    hljs.highlightAll();
    const mermaidChart = (code) => {
        try {
            return `<div class="mermaid">${code}</div>`
        } catch ({str, hash}) {
            return `<pre>${str}</pre>`
        }
    }
    let md = window.markdownit({
        highlight: function (str, lang) {
            mermaid.initialize({startOnLoad:true});
            let esc = md.utils.escapeHtml;
            console.log(lang)
            console.log(str)
            if (lang && hljs.getLanguage(lang)) {
                try {
                    // return hljs.highlight(lang, str, true).value;
                    return  '<pre class="hljs"><code>' +hljs.highlight(lang, str, true).value +    '</code></pre>';
                } catch (__) {
                }
            } else if (lang === 'mermaid') {
                // return mermaidChart(str)
                return '<pre class="mermaid">' + mermaid.mermaidAPI.render('mermaid', str) + '</pre>';
                // return '<pre class="mermaid">' + mermaid.mermaidAPI.render('mermaid', str) + '</pre>';
                // return  mermaid.mermaidAPI.render('mermaid', str) ;

            } else {
                return '<pre class="hljs"><code>' + esc(str) + '</code></pre>';
            }
            return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
        },
        html:true,
        linkify:true,
        typographer:true,
    }).enable('image').enable([ 'link' ]);

    function convert() {

        let text = document.getElementById("oriContent").value;
        let result = md.render(text)
        document.getElementById("result").innerHTML = result;

    }


</script>

</body>

</html>