<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flywinter.fallblog.mapper.TArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.flywinter.fallblog.entity.TArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="first_image" property="firstImage" />
        <result column="category_id" property="categoryId" />
        <result column="tags" property="tags" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, user_id, description, first_image, category_id, tags, content, status, version, create_time, update_time
    </sql>

</mapper>
