<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/header::head(Index)}">
</head>

<body>
<div th:replace="~{fragment/header::header(index)}"></div>
<div class="oleez-loader"></div>
<main class="blog-standard">
    <div class="container">
        <h1 class="oleez-page-title wow fadeInUp">Home</h1>
        <div class="row">
            <div class="col-md-8">
                <article th:each="article : ${artilcelist}" class="blog-post wow fadeInUp">
                    <img th:src="@{${article.firstImage}}" alt="blog post" class="post-thumbnail">
                    <p class="post-date" th:text="${#temporals.format(article.createTime,'MM dd,yyyy')}">January 29, 2020</p>
                    <h4 class="post-title" th:text="${article.title}">Why you must experience design at least once</h4>
                    <p class="post-excerpt" th:text="${article.description}">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                        consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Aliquam lorem ante, dapibus in,
                        viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                        rutrum.</p>
                    <a th:href="@{/article/{id}(id=${article.id})}" class="post-permalink">READ MORE</a>
                </article>

                <nav class="oleez-pagination wow fadeInUp">
                    <a href="#!" class="active">01</a>
                    <a href="#!">02</a>
                    <a href="#!">03</a>
                    <a href="#!" class="next">&rarr;</a>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Tags</h5>
                    <div class="widget-content">
                        <a th:each="tag:${taglist}" href="#" class="post-tag" th:text="${tag.name}">Design Studio</a>
                    </div>
                </div>
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Share</h5>
                    <div class="widget-content">
                        <nav class="social-links">
                            <a href="https://connect.facebook.com/">Fb</a>
                            <a href="https://www.facebook.com/TwitterInc/">Tw</a>
                            <a href="https://www.instagram.com/">In</a>
                            <a href="https://www.zhihu.com/">ZH</a>
                        </nav>
                    </div>
                </div>
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Gallery</h5>
                    <div class="widget-content">
                        <div class="gallery">
                            <a th:each="image :${imagelist}" th:href="@{/images/{name}(name=${image.name})}" class="gallery-grid-item"
                               data-fancybox="widget-gallery">
                                <img th:src="@{/images/{name}(name=${image.name})}" alt="gallery item">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Categories</h5>
                    <div class="widget-content">
                        <ul class="category-list">
                            <li th:each="category:${categorylist}"><a  th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">Animation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragment/header::footer}" class="oleez-footer"></footer>
<nav th:replace="~{fragment/header::sider}" class="oleez-footer"></nav>
<div th:replace="~{fragment/header::search}" class="oleez-footer"></div>

<!-- Full screen search box -->
<div id="searchModal" class="search-modal">
    <button type="button" class="close" aria-label="Close" data-dismiss="searchModal">
        <span aria-hidden="true">&times;</span>
    </button>
    <form action="common/index.html" method="get" class="oleez-overlay-search-form">
        <label for="search" class="sr-only">Search</label>
        <input type="search" class="oleez-overlay-search-input" id="search" name="search" placeholder="Search here">
    </form>
</div>
<script th:src="@{../vendors/popper.js/popper.min.js}"></script>
<script th:src="@{../vendors/wowjs/wow.min.js}"></script>
<script th:src="@{../vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{../vendors/fancybox/jquery.fancybox.min.js}"></script>
<script th:src="@{../js/main.js}"></script>
<script th:replace="~{fragment/header::runTime}"></script>

</body>


</html>